<ion-tabs>

  <ion-tab-bar slot="top" color="pmp">
    <ion-tab-button tab="tab1">
      <ion-item style="width: 140%;" color="pmp">
        <div class="img-icon-tabs">
          <ion-img src="../../assets/icon/tabs/_ingresos.png"></ion-img>
        </div>        
        <!-- <ion-icon name="pulse"></ion-icon> -->
        <ion-label>Ingresos</ion-label>
      </ion-item>      
    </ion-tab-button>

    <ion-tab-button tab="tab2" icon-end>
      <ion-item style="width: 130%;" color="pmp">
        <div class="img-icon-tabs">
          <ion-img src="../../assets/icon/tabs/_saldo.png"></ion-img>
        </div> 
        <!-- <ion-icon name="swap">Saldo</ion-icon> -->
        <ion-label>Saldo</ion-label>
      </ion-item>      
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-item style="width: 130%;" color="pmp">
        <div class="img-icon-tabs">
          <ion-img src="../../assets/icon/tabs/_gastos.png"></ion-img>
        </div> 
        <!-- <ion-icon name="pricetags"></ion-icon> -->
        <ion-label>Gastos</ion-label>
      </ion-item>      
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
