.welcome-card img {
  height: 60%;
  max-height: 100%;
  overflow: hidden;
}

.cat_info {
  width: 100%;
  height: 6%;
  background-color: var(--ion-color-smp);
  color: white;
  box-shadow: 0px 5px 25px -10px rgba(0,0,0,0.75);
  ion-img {
    width: 20%;
    margin: auto;
    z-index: 1;
    position: relative;
  }
  .this_mes{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
  }  
}  
.movimientos-card {
  width: 100%;
  margin:0;
}

.content_categorias {
  width: 40%;
  margin-left:0;
  margin-top: 20px;
  font-size: 10px;
  box-shadow: 15px 0px 5px -10px rgba(0,0,0,0.75);
  float: left;
  ion-label {
    text-align: right;
  }
}

.content_estadistics {
  width: 57%;
  margin-left:3%;
  margin-top: 20px;
  float: left;
}

.slide {
  background-color: var(--ion-color-smp);
  width: 100%;
  box-shadow: 0px 5px 25px -10px rgba(0,0,0,0.75);
  color: white;
}
  
