<ion-content>
  <div class="cat_info">
    <ion-label class="this_mes">{{today}}</ion-label>
    <ion-img src="../../assets/img/icon_banner_gastos.png"></ion-img>
  </div>
  <app-movs></app-movs>    
    <ion-card class="movimientos-card" color="light">
        <div class="content_categorias">
          <ion-list>
            <ion-item *ngFor="let cat of listaGastos" (click)="viewDetail(cat.IdSubcategoria, cat.Descripcion, cat.Icono)">
              <ion-label>{{cat.Descripcion}}&nbsp;</ion-label>
              <ion-icon name="{{cat.Icono}}"></ion-icon>
            </ion-item>
          </ion-list>          
        </div>
        <div class="content_estadistics">
          <ion-list>
            <ion-item *ngFor="let cat of listaGastos">
              <ion-label>{{cat.Valor | number:'1.'}}</ion-label>
            </ion-item>
          </ion-list>          
        </div>      
    </ion-card> 
    <div class="slide">
      <ion-slides>
        <ion-slide>
          <h1>Slide 1</h1>
        </ion-slide>
        <ion-slide>
          <h1>Slide 2</h1>
        </ion-slide>
        <ion-slide>
          <h1>Slide 3</h1>
        </ion-slide>
      </ion-slides>
    </div>
</ion-content>
