.buttons{ 
    padding-top: 40%;   
    .b-save{
        width: 50%;
        float: right;
    }
    .b-cancel{
        width: 50%;
        float: left;
    }
}

.c_valor{
    
    padding-bottom: 50px;
}

.campo_valor{
    background-color: rgb(148, 245, 148);
    border-style: solid;
    border-color: rgb(148, 245, 148);
    border-radius: 10px;
}

.b_Toolbar {
    ion-icon {
      font-size: 35px;
    }
  }